@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



.headerBaru h2 {
    color: black;
}

.headerBaru li a {
    color: black;
}

header {
    display: flex;
    width: 100%;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

header h2 {
    margin-right: auto;
    margin-left: 10px;
    padding-left: 20px;
    cursor: pointer;
    transition: all .7s ease 0s;
    transform: scale(1);
    color: white;
}

header h2:hover {
    transform: scale(1.1);
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav li {
    list-style: none;
    padding-right: 50px;
    transition: all .7s ease 0s;
}

nav li:hover {
    letter-spacing: 2px;
    font-weight: 500;
}

.containerImageOne {
    height: 100vh;
    background-image: url(../asset/eart.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.containerImageTwo {
    height: 100vh;
    background-image: url(../asset/eart2.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.content-judul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f7f8fa;
    margin: 10px;
}

.judul-1 {
    font-weight: 500;
    font-size: 50px;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.penjelasan-1 {
    font-weight: 200;
    font-size: 20px;
    text-shadow: 2px 2px rgb(0, 0, 0);
    letter-spacing: 3px;
}

.button {
    background: none;
    cursor: pointer;
}

.button-img {
    font-size: 30px;
    color: yellow;
    background: none;
}

.point ul {
    right: 0;
    position: absolute;
    display: none;
    width: 300px;
    margin: 25px auto;
    background-color: transparent;
}

.point ul li {
    width: 100%;
    margin: 10px auto;
    background-color: transparent;
    text-align: center;
}

.point ul a {
    color: white;
}

.point:hover > ul {
    display: initial;
}

main {
    width: 100%;
    min-height: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(244, 244, 244);
}

.section {
    width: 100%;
    background-color: white;
}

.container-section {
    margin: 100px 50px;
    display: flex;
}

.container-one {
    flex: 1;
    margin: 50px;
    text-align: left;
}

.container-one span {
    font-size: 14px;
}

.penjelasan-containerTwo {
    padding: 10px;
}

.tagline-containerOne {
    font-size: 30px;
    font-weight: bolder;
}

.penjelasan-containerOne {
    font-size: 13px;
    margin: 5px auto 15px;
}

.image-containerOne {
    width: 100%;
    margin-top: 30px;
}

.container-two {
    flex: 1;
    margin: 20px;
}

.container-two .image-two {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image-two img {
    gap: 10px;
    width: 48%;
    background-size: cover;
}

.btn-prev,
.btn-next {
    background-color: rebeccapurple;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
}

.higlest {
    text-align: center;
    padding: 50px;
    letter-spacing: 2px;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    margin: 10px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content1 {
    display: flex;
    text-align: right;
    width: 25%;
    padding: 5px;
    margin: 5px;
    flex-direction: column;
}

.wrapper img {
    width: 100%;
}

.judul {
    font-size: 23px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 20px;
    color: #fff;
    background-color: black;
}

.penjelasan {
    margin: 10px;
    letter-spacing: 2px;
    font-size: 13px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 20px auto;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.custom-btn a {
    text-decoration: none;
    color: white;
}

.btn-3 {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 a:hover {
    color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

.blog {
    width: 100%;
    background-color: white;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.judul-blog {
    margin: 50px auto;
    padding: 100px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 2px;
}

.container-cards {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'Playfair Display', serif;
}

hr {
    background-color: red;
}

.cards-content {
    width: 100%;
    display: flex;
    gap: 100px;
    margin: 20px auto;
    background-color: white;
}

.cards-content img {
    cursor: pointer;
    background-size: cover;
    width: 40%;
}

.container-cards .tentang {
    width: 50%;
    margin: auto 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-cards .judul-tagline {
    font-size: 20px;
}

.container-cards .tagline {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.tagline a {
    text-decoration: none;
    color: black;
}

.container-cards .tagline:hover {
    cursor: pointer;
    text-decoration: underline;
}

.container-cards .pencetus {
    font-size: 20px;
}

footer {
    width: 95%;
    height: auto;
    border-top: 1px solid black;
    margin: 200px auto;
    font-family: 'Poppins', sans-serif;
}

.tagline-footer {
    font-size: 30px;
    text-align: center;
    margin: 50px auto 0px auto;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    font-size: 14px;
    margin: 100px auto;
    text-align: center;
}

.footer-copyright {
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.link ul {
    display: flex;
}

.link li {
    padding: 0 20px 0 20px;
    list-style: none;
}

.link a {
    color: white;
    text-decoration: none;
}

.link i {
    font-size: 18px;
}

@media (max-width: 1100px) {
    .content1 {
        width: 40%;
    }

    .blog .judul-blog {
        letter-spacing: 2px;
    }

    .container-cards {
        justify-content: space-around;
    }

    .cards-content {
        flex-direction: column;
        width: 45%;
        gap: 10px;
    }

    .cards-content img {
        width: 100%;
    }

    .cards-content .tentang {
        text-align: right;
        width: 100%;
        padding: 10px;
        margin: auto;
    }

    .cards-content .tagline {
        font-size: 29px;
    }

    .cards-content .pencetus {
        font-size: 18px;
    }

    .container-footer {
        flex-wrap: wrap;
        border: 1px solid violet;
    }

    .contain-one {
        width: 100%;
    }

    .contain-two {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .contain-two iframe {
        border: 1px solid red;
    }
}

@media (max-width: 850px) {
    .content1 {
        width: 45%;
    }

    .container-one {
        width: 100%;
        margin: 0px auto 100px;
    }

    .container-two {
        width: 100%;
        margin: auto;
    }

    .container-two .image-two {
        gap: 5px;
        flex-direction: row;
    }

    .container-two .image-two img {
        width: 49%;
        margin: 5px auto 5px;
    }

    .container-section {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer-utama {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .cards-content {
        width: 100%;
    }

    .cards-content .tentang {
        margin: 5px auto;
    }

    .judul-tagline {
        font-size: 18px;
    }

    .tagline {
        font-size: 2pc;
    }

    .pj {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .content1 {
        width: 90%;
    }

    .container-two .image-two {
        gap: 5px;
        flex-direction: column-reverse;
    }

    .container-two .image-two img {
        width: 100%;
        margin: 5px auto 5px;
    }

    .container-section {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer-utama {
        flex-wrap: wrap;
    }

    .cards-content {
        margin: 5px auto;
    }

    .judul-blog {
        margin: 10px auto;
    }

    .tentang .tagline {
        font-size: 25px;
    }

    .tentang .pencetus {
        font-size: 15px;
    }

    .container-cards .tentang {
        margin: auto;
    }

    .container-footer {
        flex-wrap: wrap;
    }

    .about {
        width: 90%;
    }

    footer {
        margin: 20px auto;
    }

    .footer-copyright {
        gap: 30px;
    }

    .footer-copyright .copyright {
        text-align: center;
    }

    .footer-copyright .link {
        margin: auto;
    }
}